/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    /* Gray background for the rest of the page */
}

/* Navbar styles */
.navbar {
    background-color: #274cba;
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.toggle-button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: none;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Media query for responsive design */
@media only screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 10px 0;
    }

    .navbar-links a {
        margin: 10px 0;
    }

    .toggle-button {
        display: block;
    }
}

























/* slider css  */


.slider_container {
    position: relative;
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 20s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide .caption {
    position: absolute;
    left: 0;
    top: 5%;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.348);
    backdrop-filter: blur(10px);
    padding: 1rem 5rem;
    border-radius: 0 2rem 2rem 0;
}

.slide.one {
    background: rgb(182, 19, 109);
}

.slide.two {
    background: rgb(255, 64, 64);
}

.slide.three {
    background: rgb(11, 173, 188);
}

.slide.four {
    background: rgb(11, 188, 14);
}

.slide.five {
    background: rgb(173, 11, 188);
}

@keyframes sliding {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}










































.footer-distributed {
    background: #274cba;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #eadee7;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #d9e1e8;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 20px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}



























/* cards css */

article {
    --img-scale: 1.001;
    --title-color: rgb(255, 255, 255);
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #ce8acf;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

/* basic article elements styling */
article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
}

article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
}

article a:focus {
    outline: 1px dotted #28666e;
}

article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
  Generic layout (demo looks)
  **************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 48px 0;
    font-family: "Figtree", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
    min-height: 100vh;
}

.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}

@media screen and (max-width: 960px) {
    article {
        container: card/inline-size;
    }

    .article-body p {
        display: none;
    }
}

@container card (min-width: 380px) {
    .article-wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
    }

    .article-body {
        padding-left: 0;
    }

    figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    figure img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
































* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --purple: hsl(240, 80%, 89%);
    --pink: hsl(0, 59%, 94%);
    --light-bg: hsl(204, 37%, 92%);
    --light-gray-bg: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 7%);
    --text-gray: hsl(0, 0%, 30%);
}

body {
    background: var(--light-bg);
    font-family: "Space Grotesk", sans-serif;
    color: var(--dark);
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--text-gray);
}

.description {
    white-space: wrap;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    display: flex;
    justify: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    background: #fff;
}

.box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
}

.box-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 50% 20%;
}

.title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
}

.user-follow-info {
    color: hsl(0, 0%, 60%);
}

.button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: #000;
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: background 0.4s ease;
}

.button:hover {
    background: var(--purple);
}

.fill-one {
    background: var(--light-bg);
}

.fill-two {
    background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 460px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 640px) {
    .box {
        flex-basis: calc(50% - 12px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 840px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1024px) {
    .box {
        flex-basis: calc(33.3% - 16px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1100px) {
    .box {
        flex-basis: calc(25% - 18px);
    }
}