.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 3px solid #574e4e;
    border-radius: 5px;
    background-color: #f2f3ff;

    /* Pink background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Box shadow for a fancy effect */
}

h2 {
    color: #4579ff;
    /* Pink text color */
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    /* Dark text color */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    /* Subtract padding */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #ff3366;
    /* Pink button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff1a53;
    /* Darker pink on hover */
}